.phrase {
    margin: 0;
    margin-bottom: 1em;
}

.options {
    display: flex;
    justify-content: space-evenly;
    min-width: 50vw;
    /* gap: 2em; */
    /* flex-direction: column; */
}

.option {
    transform: none;
}
